# Secreto para generar las URLs únicas.
NOTAS_SECRET=

# Credenciales para nuestra autenticación OAuth2.
NOTAS_OAUTH_CLIENT=
NOTAS_OAUTH_SECRET=
NOTAS_REFRESH_TOKEN=

# Flask mode (cambiar a "development" en el .env local).
FLASK_ENV=production
