[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httplib2 = "==0.17.*"
oauth2client = "~=4.1"
webargs = "~=5.0"
flask = "~=1.1"
flask-wtf = "==0.14.*"
wtforms = "~=2.3"
email-validator = "~=1.1"
frozendict = "~=1.2"
google-api-python-client = "~=1.8"
google-auth-oauthlib = "==0.4.*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.8"
